# --- User Specific ---
.env
.venv
.pytest_cache/

# --- Python Cache (ครอบคลุมทุกโฟลเดอร์) ---
# บรรทัดนี้จะ ignore โฟลเดอร์ __pycache__ ไม่ว่าจะอยู่ที่ root หรือใน src/ ก็ตาม
__pycache__/
*.py[cod]
*$py.class